@{ Layout = "_Layout"; }

@using HairSalon.Models;
@model HairSalon.Models.Stylist;
<h2>Stylist Details</h2><hr>
<h4>@Html.DisplayFor(model => model.Name)</h4>
<p>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)<p>
<br>
<h5> Clients: </h5>

<br>
@* <p>@Html.ActionLink("Add Client", "Create", new {id= client.ClientId})</p> *@
<p>@Html.ActionLink("Edit", "Edit", new { id = Model.StylistId }) | @Html.ActionLink("Delete", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Return to Stylists", "Index")</p>




@* @using HairSalon.Models;
@model List<HairSalon.Models.Client>; 
  @model HairSalon.Models.Client
<h2>Edit Client</h2><hr>
<h4>@Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm()) {
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")*@

  @* @using ToDoList.Models;

<h3>Here are all the items in this category:</h3>

<ol>
@foreach (Item item in @Model["items"])
{
  <li><a href='/categories/@Model["category"].Id/items/@item.Id'>@item.Description</a></li>
}
</ol> *@