@{ Layout = "_Layout"; }

@model HairSalon.Models.Client
<h4>New Client</h4><hr>
@using (Html.BeginForm()) {
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "Name", required="required"})<br>
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")<br>
  <input type="submit" value="Add" class="btn btn-dark" />
}
<br>
<p>@Html.ActionLink("View All Clients", "Index")</p>