@{ Layout = "_Layout"; }

@model HairSalon.Models.Client
<h2>Edit Client</h2><hr>
<h4>@Html.DisplayFor(model => model.Name)</h4>
@using (Html.BeginForm()) {
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)
  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")
  <input type="submit" value="Save" class="btn btn-dark" />
}
<p>@Html.ActionLink("View All Clients", "Index")</p>