@{Layout = "_Layout";}

@using HairSalon.Models;
@model List<HairSalon.Models.Client>;
<h1>Clients</h1><hr>
@if(@Model.Count == 0) {
  <p><em>No clients have been added</em></p>
} @foreach(Client client in Model) {
  <h5>@Html.ActionLink($"{client.Name}", "Details", new {id= client.ClientId})  | <em>@client.Stylist.Name</em> </h5>
}
<br>
<p>@Html.ActionLink("New Client", "Create")</p>
<p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>